<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
  <header class="profile-wrapper"><a href="/" id="avatar" class="rounded-circle"><img src="{{ .Site.Params.Logo }}"
        width="112" height="112" alt="avatar"></a>
    <a class="site-title d-block" href="/">{{ .Site.Params.Author.Name }}</a>
    <p class="site-subtitle fst-italic mb-0">{{ .Site.Params.Description }}</p>
  </header>
  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">

      {{ range .Site.Params.socials }}
      <li class="nav-item">
        <a href="{{ .link }}" class="nav-link">
          <i class="fa-fw fas {{ .icon }}"></i>
          <span>{{ .name }}</span>
        </a>
      </li>
      {{ end }}

    </ul>
  </nav>
  <div class="sidebar-bottom d-flex flex-wrap align-items-center w-100"><button type="button"
      class="btn btn-link nav-link" aria-label="Switch Mode" id="mode-toggle">
      <i class="fas fa-adjust"></i>
    </button>
    <span class="icon-border"></span>
    <a href="https://github.com/{{ .Site.Params.Author.Github }}" aria-label="github" target="_blank" rel="noopener noreferrer"><i
        class="fab fa-github"></i></a>
    <a href="mailto:{{ .Site.Params.Author.Email }}" aria-label="email" target="_blank" rel="noopener noreferrer"><i
        class="fas fa-envelope"></i>
    </a>
    <a href="/index.xml" aria-label="rss"><i class="fas fa-rss"></i></a>
  </div>
</aside>