{{ $articleCount := len .Site.RegularPages }}
{{ $totalWordCount := 0 }}
{{ range .Site.Pages }}
{{ $totalWordCount = add $totalWordCount .WordCount }}
{{ end }}

<aside aria-label="Panel" id="panel-wrapper" class="col-xl-3 ps-2 text-muted">
  <div class="access">
    <section id="access-lastmod">
      <h2 class="panel-heading">Recently Updated</h2>
      <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
        {{/*
        1. .Site.RegularPages: 获取所有常规页面
        2. .ByDate.Reverse: 按日期倒序（最新在前）
        3. first 4: 只取前 4 篇
        */}}
        {{ range first 5 .Site.RegularPages.ByDate.Reverse }}
        <li class="text-truncate lh-lg"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </section>
    <section>
      <h2 class="panel-heading">Trending Tags</h2>
      <div class="d-flex flex-wrap mt-3 mb-1 me-3">
        {{/*
        1. .Site.Taxonomies.tags: 获取所有标签
        2. .ByCount: 按文章数升序排序
        3. .Reverse: 反转为降序（热门的在前）
        4. first 5: 取前 5 个
        */}}
        {{ range first 10 .Site.Taxonomies.tags.ByCount }}
        <a class="post-tag btn btn-outline-primary" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
        {{ end }}
      </div>
    </section>

    {{ if in .Site.Params.mainSections .Type }}

    {{ else }}
    <section>
      <h2 class="panel-heading">About Me</h2>
      <div class="content mt-2 lh-lg">
        这是我的个人博客，已经运行了 <span id="days"></span> 天，写了 {{ $articleCount }} 篇文章，共 {{ $totalWordCount }} 字。
        <br>
        代码是我的工作，文字是我的爱好。
        <br>
        如果你想与我交流，欢迎发送电子邮件至 <a href="mailto:linshengxuan00@163.com">linshengxuan00@163.com</a>，更多 <a href="/about/">关于我</a>。
      </div>
    </section>

<script>
  const time = "{{ .Site.Params.buildDate }}";
  var now = new Date();
  var end = new Date(time);
  var diff = Math.abs(now - end);
  var days = Math.ceil(diff / (1000 * 60 * 60 * 24));
  document.getElementById('days').innerHTML = days;
</script>
    {{ end }}
  </div>

  {{ if in .Site.Params.mainSections .Type }}
  <div class="toc-border-cover z-3"></div>
  <section id="toc-wrapper" class="position-sticky">
    <h2 class="panel-heading ps-3 pb-2 mb-0">Contents</h2>
    {{ .TableOfContents }}
  </section>
  {{ end }}

</aside>

