<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
  {{ partial "header.html" . }}
  <div id="main-wrapper" class="d-flex justify-content-center">
    <div class="container d-flex flex-column px-xxl-5">
      {{ partial "content_top.html" . }}
      <div class="row flex-grow-1">
        <main class="col-12 col-lg-11 col-xl-9 px-md-4">
          <article class="px-1">
            <h1 class="dynamic-title">{{.Title}}</h1>
            <div class="content">
              <div class="aside-list">
                <a href="/blog/">全部</a>
                <a href="/categories/技术/">技术</a>
                <a href="/categories/随笔/">随笔</a>
                <a href="/categories/weekly/">周刊</a>
              </div>
              <div id="archives" class="pl-xl-3">
                {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
                <time class="year lead d-block">{{ .Key }}</time>
                <ul class="list-unstyled">
                  {{ range .Pages }}
                  <li>
                    <span class="date day">{{ .Date.Format "1月2日" }}</span>
                    <span class="date month small text-muted ms-1"></span>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                  </li>
                  {{ end }}
                </ul>
                {{ end }}
              </div>
            </div>
          </article>
          {{ partial "footer.html" . }}
        </main>
        {{ partial "panel.html" . }}
      </div>
    </div>
  </div>

{{ partial "scripts.html" . }}
</body>
</html>