<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}
  <main class="container">

    <header>
      <hgroup id="brand">
        <h1>{{ .Title }}</h1>

        {{ if in .Site.Params.mainSections .Type }}
        <h5 style="font-size:12px;color:rgba(0,0,0,.5);">
          <time>{{ .Date.Format "2006/01/02"}}</time>

          {{ with .Params.tags }}
          <span class="no-print">|
          {{ range . }}
          <a href="{{ "tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
          {{ end }}
          </span>
          {{ end }}

          {{ with .Params.categories }}
          {{ range . }}
          <span class="no-print">|
            <a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>
          </span>
          {{ end }}
          {{ end }}
        </h5>
        {{ end }}

      </hgroup>
      <hr class="sep">
    </header>
    

    {{ if in .Site.Params.mainSections .Type }}
    <div class="toc">
      {{ .TableOfContents }}
    </div>
    {{ end }}

    <article class="post-content">
      {{ .Site.Params.postHeaderContent | safeHTML }}
      {{ .Content }}
    </article>

    {{ if in .Site.Params.mainSections .Type }}
    {{ partial "comment.html" . }}
    {{ end }}
    
  </main>
  {{ partial "footer.html" . }}
</body>

</html>